<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- config for STDOUT and SAVE-TO-FILE -->

    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>logs/log.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                logs/archived/log_%d{dd-MM-yyyy}_%i.log
            </fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
<!--            specifies how long the archived log files will be kept before they are automatically deleted-->
            <maxHistory>10</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>

    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- config for Spring profiles -->

    <springProfile name="development">
        <root level="debug">
            <appender-ref ref="STDOUT"/>
        </root>

    </springProfile>

    <springProfile name="production">
        <root level="info">
            <appender-ref ref="SAVE-TO-FILE"/>
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

</configuration>
