<div id="footer-container" class="footer mt-auto">
    <div class="container">
        <footer class="footer row row-cols-1 row-cols-sm-2 row-cols-md-5 pt-5 my-5 mt-0 mb-0">
            <div class="col mb-3">
                <p class="text-muted">© 2023</p>
            </div>

            <div class="col mb-3">
                <h5>Useful Links</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="https://hebraisztika.hu/site/" class="nav-link p-0 text-muted">Visit hebraisztika.hu!</a></li>
                    <li class="nav-item mb-2"><a href="https://www.britishmuseum.org/" class="nav-link p-0 text-muted">Visit The British Museum!</a></li>
                    <li class="nav-item mb-2"><a href="https://cdli.mpiwg-berlin.mpg.de/" class="nav-link p-0 text-muted">Visit the home of the Cuneiform Digital Library Initiative!</a></li>
                    <li class="nav-item mb-2"><a href="https://www.smb.museum/en/museums-institutions/vorderasiatisches-museum/home/" class="nav-link p-0 text-muted">Visit Vorderasiatisches Museum!</a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>
