<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header class="p-3 header">
    <div class="container">
        <div id="title-container">
            <h1 class="title">Akkadian Lexicon</h1>
        </div>
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav nav-pills col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="nav-item px-2"><a th:class="${#ctx.getExchange().getRequest().getRequestPath() == '/'} ? 'active nav-link px-3' : 'nav-link px-3'" th:href="@{/}" >Home</a></li>
                <li class="nav-item px-2"><a th:class="${#ctx.getExchange().getRequest().getRequestPath() == '/search'} ? 'active nav-link px-3' : 'nav-link px-3'" th:href="@{/search}">Search</a></li>
                <li class="nav-item px-2"><a th:class="${#ctx.getExchange().getRequest().getRequestPath() == '/about'} ? 'active nav-link px-3' : 'nav-link px-3'"  th:href="@{/about}">About</a></li>
                <li class="nav-item px-2"><a th:class="${#ctx.getExchange().getRequest().getRequestPath() == '/bibliography'} ? 'active nav-link px-3' : 'nav-link px-3'"  th:href="@{/bibliography}">Bibliography</a></li>
<!--               <li sec:authorize="isAuthenticated()"-->
<!--                 class="nav-item px-2"><a th:class="${#ctx.getExchange().getRequest().getRequestPath() == '/edit'} ? 'active nav-link px-3' : 'nav-link px-3'"  th:href="@{/edit}">Edit</a></li>-->
                <li class="nav-item px-2"><a th:class="${#ctx.getExchange().getRequest().getRequestPath() == '/edit'} ? 'active nav-link px-3' : 'nav-link px-3'"  th:href="@{/edit}">Edit</a></li>
            </ul>

            <div sec:authorize="isAuthenticated()">
                <a class="btn btn-outline-light me-2" href="javascript: logoutForm.submit();" role="button">Sign Out</a>
                <form name="logoutForm" th:hidden="true" method="post" th:action="@{/logout}">
                    <input type="submit" value="Logout" />
                </form>
            </div>
            <div th:unless="${#ctx.getExchange().getRequest().getRequestPath() == '/login'}">
                <div sec:authorize="!isAuthenticated()">
                    <a class="btn btn-light me-2" th:href="@{'/login'}" role="button">Sign in</a>
                </div>
            </div>
        </div>
    </div>
</header>
</html>
