.about_text {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;

    text-align: left;
}
.about_image {
    border-radius: 15px;
}

h2 {
    padding-bottom: 20px;
    padding-top: 20px;
}
