#king-field {
    display: none;
}

#search-field{
    display: none;
}

#source-field{
    display: none;
}

.simple-keyboard{

    margin: 0 0 0 0;
}

.title-key{
    font-weight: bold;
}

#search-word:focus{
    outline: rgb(0, 95, 204) 1px;
}
.search-bg{
    background-color: #decdb8;
}
