h1 {
    font-family: "Cinzel", sans-serif;
    color: #5e3812;
}

h2 {
    font-family: "Cinzel", sans-serif;
    color: #92755b;
    font-style: italic;
}

#title-container{
    text-align: center;
}

.header{
    background-color: #92755b;
}

.nav-link{
    color: azure;

}
.nav-link:hover{
    color: black;
}


#footer-container {
    background-color: #92755b;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #5e3812;
}
