<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap" rel="stylesheet">
    <!--/*/ <th:block th:insert="~{fragments/header-files.html}">
        </th:block> /*/-->
    <link rel="stylesheet" th:href="@{/css/styleOriginal.css}"/>
</head>
<body>
<header>
    <h1>Akkadian Lexicon</h1>
</header>
<main>
    <div th:if="${content != null}">
        [(${content.getContent()})]
    </div>
    <div class="container" th:unless="${content != null}">
        <p>NO CONTENT HERE</p>
    </div>
    <a th:href="@{/}" class="button">HOME</a>
</main>
</body>
</html>
