<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bibliography</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap" rel="stylesheet">
    <!--/*/ <th:block th:include="fragments/header-files.html">
            </th:block> /*/-->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/bib.css}"/>
</head>
<body class="d-flex flex-column h-100">
<header th:replace="fragments/header.html"></header>
<main>
    <div class="row mb-3 text-center">
        <h2>Bibliography</h2>
        <div style="display: block">
            <img  class="bib_image" src="/img/aboveTheTextImage.jpg" alt="akkadians" width="800">
        </div>
        <div th:if="${content != null}">
            [(${content.getContent()})]
        </div>
        <div class="container" th:unless="${content != null}">
            <p>NO CONTENT HERE</p>
        </div>
    </div>

    <div class="bib_text">
        <p>
            Lórum ipse olyan borzasztóan kusos verc, ami klasz nélkül nem tulapkoz megfelelően. Ha ez nem bajlatlan, akkor a lata
            kányzatát (ezt rapcsodhatja egy stadag „fatlan” büdvetővel). Ha a prány egy paztag lelőn bujtó, akkor azt a fakortságot
            hareklálja. A viparka fosztorkának sérlő tikája, hasána vagy kéjese nincs a prányon kélő rozáshoz, és nem is kednek
            górisban a lankó kettősségével. „prány” egyészlepesben szeme bazadkodásai géznek fenséget gyankójuk helygésére. Az itt dombohm
            keszorgások, gigatok, gyankók nem fetykézik a glata szidák győzését. A marandolt keszkolok telgésüket és lakcsótukat
            illetően a fitás viros győztes közé verepelnek. A pálé által marandolt balan szeret 56.054 ha.
        </p>
    </div>
</main>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>
