<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing Sources</title>
</head>
<body>
    <h1>New Source</h1>
    <form
        data-th-object="${newSource}"
        method="post"
        data-th-action="@{/source}"
        action="/source"
        >
    <label for="title">Title:</label>
    <input id="title" type="text" data-th-field="*{title}">

    <label for="catalogueRef">Catalogue Reference Number:</label>
    <input id="catalogueRef" type="text" data-th-field="*{catalogueRef}">

    <label for="kingIds">Select an id of a specific king:</label>
    <select th:field="*{kingId}" class="form-control" id="dropDownList">
        <option value="0">Select a specific king</option>
        <option th:each="king : ${kings}" th:value="${king.id}" th:text="${king.name}"></option>
    </select>

    <label for="text">Text:</label>
    <input id="text" type="text" data-th-field="*{text}">

    <label for="bibliography">Bibliography</label>
    <input id="bibliography" type="text" data-th-field="*{bibliography}">


        <input type="submit" value="Save">
    </form>
    <a th:href="@{/}" class="button">HOME</a>
</body>
</html>
