<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-keyboard@3.5.40/build/css/index.min.css" rel="stylesheet">
    <!--/*/ <th:block th:insert="~{fragments/header-files.html}">
            </th:block> /*/-->
    <link rel="stylesheet" th:href="@{/css/error.css}"/>
</head>
<body>
<header th:replace="~{fragments/header.html}"></header>
<main>
    <div class="d-flex align-items-center justify-content-center" style="height: 28vh;">
        <div class="row mb-3 text-center">
            <div th:if="${error != null}">
                <p th:text="${error} + ' Error' "
                   id="error-text">
                </p>
            </div>
            <div>
                <p><a href="/">Go back to home page</a></p>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer.html}"></footer>
</body>
</html>
