<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<form th:object="${word}" method="get" th:action="@{/search/}">

<label>
    <input class="radio-button" id="word" type="radio" th:name="option" value="word">
    Word
</label>
<br>
<label>
    <input type="radio" name="option" value="king">
    King
</label>
<br>
<label>
    <input type="radio" name="option" value="source">
    Source
</label>

<div id="search-field" style="display:none;">
        <label for="search-word">Search:</label>
        <input type="text" id="search-word" th:name="word">
        <input type="submit" value="search">

    <div th:if="${#strings.isEmpty(word)}">
        <h4>Matches:</h4>
        <p th:text="${error}"></p>
    </div>
    <div th:unless="${#strings.isEmpty(word)}">
        <p>Nominative: </p>
        <p th:text="${word.getNominative()}">Nominative</p>
        <p>Meaning: </p>
        <p th:text="${word.getMeaning()}">Meaning</p>
        <p>Sumerian Form: </p>
        <p th:text="${word.getSumerianForm()}">Sumerian Form</p>

    </div>

</div>
</form>


<script>
    const radioButtons = document.querySelectorAll('input[type="radio"]');
    const searchField = document.getElementById('search-field');

    radioButtons.forEach(radioButton => {
        radioButton.addEventListener('change', () => {
            if (radioButton.value === 'word') {
                searchField.style.display = 'block';
            } else {
                searchField.style.display = 'none';
            }
        });
    });
</script>
</body>
</html>
