<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css">
</head>
<body>
<form th:object="${searchObjectDTO}" method="get" th:action="@{/search}">

    <label>
        <input id="word" type="radio" th:name="option" value="word" th:checked="${words!=null}">
        Word
    </label>
    <br>
    <label>
        <input type="radio" th:name="option" value="king" th:checked="${kings!=null}">
        King
    </label>
    <br>
    <label>
        <input type="radio" th:name="option" value="source" th:checked="${sources!=null}">
        Source
    </label>
    <div id="search-field" th:style="${words == null ? 'display:none' : 'display:block'}">
        <label for="search-word">Search:</label>
        <input class="input" type="text" id="search-word" th:name="word">
        <input type="submit" value="search">
        <span th:if="${error != null}" th:text="${error}"></span>
        <div class="simple-keyboard" style="display: none"></div>
    </div>
    <div id="vocabularyFormsSegment">
        <tr th:each="word: ${words}">
            <td>
                <div id="vocabularyFormSegment" th:unless="${#strings.isEmpty(word)}">
                    <hr>
                    <h4>Matches:</h4>
                    <p>Nominative: </p>
                    <p th:text="${word.getVocabularyForm().getNominative()}">Nominative</p>
                    <p>Sumerian Form: </p>
                    <p th:text="${word.getVocabularyForm().getSumerianForm()}">Sumerian Form</p>
                    <p>Meaning: </p>
                    <p th:text="${word.getVocabularyForm().getMeaning()}">Meaning</p>
                </div>
            </td>
        </tr>
    </div>
</form>

<script>
    const radioButtons = document.querySelectorAll('input[type="radio"]');
    const searchField = document.getElementById('search-field');

    radioButtons.forEach(radioButton => {
        radioButton.addEventListener('change', () => {
            if (radioButton.value === 'word') {
                searchField.style.display = 'block';
            } else {
                searchField.style.display = 'none';
                const vocabularyFormsSegment = document.getElementById('vocabularyFormsSegment');
                vocabularyFormsSegment.style.display = 'none';
                console.log("Word was checked but now unchecked");

            }
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"></script>
<script>
    const Keyboard = window.SimpleKeyboard.default;
    const defaultTheme = "hg-theme-default";

    const keyboard = new Keyboard({
        theme: defaultTheme,
        onChange: input => onChange(input),
        onKeyPress: button => onKeyPress(button),
        layout: {
            default: [
                "` š 2 3 4 5 6 7 8 9 0 - = {bksp}",
                "{tab} q w e r t y u i o p [ ] \\",
                "{lock} a s d f g h j k l ; ' {enter}",
                "{shift} z x c v b n m , . / {shift}",
                ".com @ {space}"
            ],
            shift: [
                "~ ! @ # $ % ^ & * ( ) _ + {bksp}",
                "{tab} Q W E R T Y U I O P { } |",
                '{lock} A S D F G H J K L : " {enter}',
                "{shift} Z X C V B N M < > ? {shift}",
                ".com @ {space}"
            ]
        }
    });
    const inputDOM = document.querySelector(".input");
    const keyboardDiv = document.querySelector(".simple-keyboard");

    inputDOM.addEventListener("focus", (event) => {
        showKeyboard();
    });

    document.addEventListener("click", (event) => {
        console.log("click");
        if (
            /**
             * Hide the keyboard when you're not clicking it or when clicking an input
             * If you have installed a "click outside" library, please use that instead.
             */
            keyboard.options.theme.includes("show-keyboard") &&
            !event.target.className.includes("input") &&
            !event.target.className.includes("hg-button") &&
            !event.target.className.includes("hg-row") &&
            !event.target.className.includes("simple-keyboard")
        ) {
            console.log("hideKeyboard()");
            hideKeyboard();
        }
    });

    function showKeyboard() {
        console.log("show");
        keyboard.setOptions({
            theme: `${defaultTheme} show-keyboard`
        });
        keyboardDiv.style.display="block";
    }

    function hideKeyboard() {
        console.log("in hide");
        keyboard.setOptions({
            theme: defaultTheme
        });
        keyboardDiv.style.display="none";
    }

    function onChange(input) {
        document.querySelector(".input").value = input;
        console.log("Input changed", input);
    }

    function onKeyPress(button) {
        console.log("Button pressed", button);
    }
</script>
</body>
</html>
