<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<form th:object="${word}" method="get" th:action="@{/search/}">

    <div th:if="${#strings.isEmpty(word)}">
        <h4>Matches:</h4>
        <p th:text="${error}"></p>
    </div>
    <div th:unless="${#strings.isEmpty(word)}">
        <p>Nominative: </p>
        <p th:text="${word.getNominative()}">Nominative</p>
        <p>Meaning: </p>
        <p th:text="${word.getMeaning()}">Meaning</p>
        <p>Sumerian Form: </p>
        <p th:text="${word.getSumerianForm()}">Sumerian Form</p>

    </div>

<input type="radio" id="kereso" th:name="menu" onclick="showSearch()" />
<label for="kereso">Word</label><br>

<input type="radio" id="lista1" name="menu" onclick="showDropdown1()" />
<label for="lista1">King</label><br>

<input type="radio" id="lista2" name="menu" onclick="showDropdown2()" />
<label for="lista2">Source</label><br>

<div id="search" style="display:none;">
    <label for="searchBox">Search: </label>
    <input type="text" id="searchBox" th:name="word">
    <button type="submit">Search</button>
</div>

<div id="dropdown1" style="display:none">
    <h3>List of kings</h3>
    <select>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
    </select>
</div>

<div id="dropdown2" style="display:none">
    <h3>List of sources</h3>
    <select>
        <option value="A">Option A</option>
        <option value="B">Option B</option>
        <option value="C">Option C</option>
    </select>

</div>
</form>

<script>
    function showSearch() {
        document.getElementById("search").style.display = "block";
        document.getElementById("dropdown1").style.display = "none";
        document.getElementById("dropdown2").style.display = "none";
    }

    function showDropdown1() {
        document.getElementById("search").style.display = "none";
        document.getElementById("dropdown1").style.display = "block";
        document.getElementById("dropdown2").style.display = "none";
    }

    function showDropdown2() {
        document.getElementById("search").style.display = "none";
        document.getElementById("dropdown1").style.display = "none";
        document.getElementById("dropdown2").style.display = "block";
    }
</script>
</body>
</html>
