body {
    background-color: #eedbca; /* Bright sand color */


}

header {
    text-align: center;
    padding: 10px 0;
    background-color: #eedbca;
    color: #5e3812;
    font-family:  "Cinzel", sans-serif;
    font-size: 30pt;
    font-style: oblique;
}
.more_button {
    background-color: #5e3812; /* Set the background color */
    border: none; /* Remove the border */
    color:  #eedbca; /* Set the text color */
    padding: 16px 32px; /* Set the padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove text underline */
    display: inline-flex; /* Make it a block element */
    font-size: 16px; /* Set the font size */
    margin: 4px 2px; /* Set the margin */
    border-radius: 10px; /* Set the rounded corners */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add drop shadow */
}

.readme{
    display: flex;
    text-align: justify;
    line-height: 1.6;
    padding: 20px 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: sans-serif;
    color: #775f46;

}

form {
    display: flex;
    margin-bottom: 20px;
}

label {
    flex: 1;
}
input[type="text"] {
    flex: 3;
    padding: 5px;
}

input[type="submit"] {
    flex: 1;
    background-color: #C9703E;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.results {
    border: 1px solid #775f46;
    padding: 10px;
}
