<section th:style="${isCreate ? 'display:block' : 'display:none'}">
    <div class="container pt-5 pb-5">
        <form id="create-admin-form"
              data-th-object="${newAdmin}"
              th:style="${adminHasErrors || (isCreate && isAdmin)  ? 'display:block' : 'display:none'}"
              method="post"
              data-th-action="@{/settings/user?option=admin&action=create}"
              action="/settings/user?option=admin&action=create">
            <div class="row">
                <div class="col">
                    <div class="form-outline mb-4">
                        <label class="form-label" for="email-input">Email: </label>
                        <input type="email" id="email-input" class="form-control" data-th-field="*{email}"/>
                        <br>
                        <span style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline mb-4">
                        <label class="form-label" for="name-input">Name:</label>
                        <input type="text" id="name-input" class="form-control" data-th-field="*{name}"/>
                        <br>
                        <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!--Degree-->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="dropdown-degrees">Degree: </label>
                        <select th:field="*{degree}" class="form-control" id="dropdown-degrees" onchange="hideAlerts()">
                            <option value="">Select the specific Degree</option>
                            <option th:each="degree : ${T(org.shaolinmasters.akkadianlexicon.models.enums.Degree).values()}"  th:value="${degree.name()}" th:text="${degree.getDegreeName()}"></option>
                        </select>
                        <span style="color: red" th:if="${#fields.hasErrors('degree')}" th:errors="*{degree}"></span>
                    </div>
                </div>

                <div class="col">
                    <!--Institution-->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="dropdown-institutions">Institution: </label>
                        <select th:field="*{institution}" class="form-control" id="dropdown-institutions" onchange="hideAlerts()">
                            <option value="">Select the specific Institution</option>
                            <option th:each="institution : ${T(org.shaolinmasters.akkadianlexicon.models.enums.Institution).values()}"  th:value="${institution.name()}" th:text="${institution.getInstitutionName()}"></option>
                        </select>
                        <span style="color: red" th:if="${#fields.hasErrors('institution')}" th:errors="*{institution}"></span>
                    </div>
                </div>
            </div>


            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
            <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}">
            </div>
        </form>
    </div>

</section>
